
<div class="containerInfoUserProducts">
  <h2>Bienvenido</h2>
  <h3>Nombre: {{user.first_name}}</h3>
  <h3>Apellido: {{user.last_name}}</h3>
  <h3>Email: {{user.email}}</h3>
</div>

<h1 class="productTitle">Productos</h1>
<div class="containerAllProducts">
  {{#each payload}}
 
  <div class="containerProduct">
    <h3>{{this.title}}</h3>
    <p class="productDescription">{{this.description}}</p>
    <p>Price: ${{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
    
     <form id="addToCartForm" action="/api/carts/add" method="POST" class="AddToCartContainer">
        <input type="hidden" name="productId" value="{{id}}">
        <button class="AddToCartButton" type="submit">Agregar al Carrito</button>
  </form>
  </div>
{{/each}}
</div>


<h2>Pagina {{this.currentPage}} of {{this.totalPages}}</h2>
<div>
  <a href="?page={{prevPage}}">Previous</a>
  <a href="?page={{nextPage}}">Next</a>
  
</div>
